body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    background: linear-gradient(#384b13, #435a16);
}
header{
    height: 300px;
    display:flex;
    justify-content: space-between;
    flex-wrap: row wrap;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.349);
    background-image: url('../img/strongman.png');
    background-repeat: no-repeat;
    background-position:50% 0%;
    background-size: contain;
}
header>img{
    display:inline-flex;
    height: 150px;
    align-self: flex-start;
    margin:15px;

}
header>h1{
    margin: 0;
    padding: 40px;
    display: inline-flex;
    align-self: end;
    color:white;
}
nav{
    display: flex;
    position:sticky;
    top:0;
    flex-flow:row wrap;
    justify-content: space-evenly;
    align-content: center;
    background-color: rgb(20, 20, 22);
    min-height: 50px;
}
nav>a{
    color: rgb(122, 122, 122);
    text-decoration: none;
    transition: color 0.2s;
}
article{
    width: 96%;
    margin:auto;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.678);
    color:white;
    padding:10px;
    margin-top: 2%;
}
footer{
    background-color: rgb(20,20,22);
    color:white;
    text-align: center;
}
a:hover, .menu>a:hover, .menu-content>div:hover a{
    color:white;
}
footer>*{
    margin: 0;
    margin-top:10px
}
footer>p:first-of-type{
    padding-top: 15px;
}
footer>p:last-of-type{
    padding-bottom: 15px;
}
.menu-content{
    display:none;
    transition: color 0.2s;
    margin-left: 10px;
    z-index: 1;
    position:absolute;
    background-color: rgba(0, 0, 0, 0.749);
    min-width: 160px;
    box-shadow: 0 0 4px black;
}
.menu-content>div{
    display:block;
    transition: color 0.2s;
    padding:2px;
    color:rgb(122, 122, 122);
    text-decoration: none;
}
.menu-content>div>a{
    color:rgb(122, 122, 122);
    transition: color 0.2s;
}
.menu>a{
    color: rgb(122, 122, 122);
    text-decoration: none;
    transition:color 0.2s;
    position:relative;
}
.menu:hover .menu-content{
    display: block;
    opacity: 100%;
}
.pic{
    width: 40%;
}
.pic>img{
    width: 100%;
}
.pic>p{
    margin: 0;
}
.over{
    width: 40%;
    position: relative;
}
.over>img{
    width: 100%;
    opacity:60%;
    transition: opacity 0.2s, transform 0.2s;
}
.over>div{
    position:absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color:black;
    transition:transform 0.2s;
}
.over:hover img{
    opacity: 100%;
    transform: scale(105%);
}
.over:hover div{
    transform: scale(125%);
}
#current{
    color:white;
}

@media screen and (max-width:940px){
    nav{
        flex-direction: column;
        align-content: flex-start;
        padding-left:5%;
    }
    .menu-content{
        display:block;
        position:initial;
    }
    nav>button{
        width: 30px;
    }
}
