@font-face{
    font-family: 'ALGER';
    src: url('../font/ALGER.eot');
    src: local('ALGER'), url('../font/ALGER.woff') format('woff'), url('../font/ALGER.ttf') format('truetype');
}
body{
    background-color: #384b13;
}
header{
    background-color: #57721852;
    border-bottom: solid 3px #000;
    border-top: solid 1px #000;
    min-height: 25vh;
    background-image: url('../img/logo.png'), url('../img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left, right;
    padding-top: 200px;
    font-family: 'ALGER';
}
@media only screen and (max-width:479px){
    header{
        background-image:  none;
    }
    article::after{
        background: none;
    }
}
header h1{
    text-shadow: 1px 1px 4px #fff;
    color: #316b25;
}
article{
    text-shadow: 2px 2px 4px #000000;
    padding-top: 15%;
    min-height: 65vh;
}
article::after{
    content:"";
    background: url('../img/strongman.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    position: absolute;
    z-index: -1;  
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
article h2{
    font-style: italic;
    font-weight: bold;
    margin-top:20%;
}
article footer{
    margin-top: 20%;
}
footer p{
    margin-bottom: 0;
    font-style: italic;    
    text-shadow: 2px 2px 4px #000000;
}
nav img{
    height: 50px;
}
nav{
    font-size: 14pt;
}
.container {
    padding-right: 0; /*15px in bootstrap.css*/
    padding-left: 0;  /*idem*/
    margin-right: auto;
    margin-left: auto;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}